/* reset */
:root {
    font-family: 'Montserrat', sans-serif;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}
ul,
li{
    list-style: none;
}
div,
section,
h1,
h2,
h3,
ul,
li
p{
    margin: 0;
    padding: 0;
}

body{
    background: #673399;
}

/* 컨텐츠 해드 시작 */

.l-containor{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.l-containor .top-text{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    position: relative;
}
.l-containor .top-text h1{
    font-size: 40px;
    line-height: 50px;
    width: 26%;
    color: white;
}
.top-text h1 span{
    box-shadow: inset 0 -20px 0 orangered;
}

.l-containor .top-text h1::after{
    content: '';
    display: block;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 26.5%;
    border: 0.5px solid #bd8fe8;
}

.top-text .head-info{
    width: 400px;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 20%;
    left: 38%;
    color: #bd8fe8;
}

/* 컨텐츠 시작 */
.second-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 24px;
}
.second-text article{
    display: flex;
    flex-direction: row;    
    color: #673399;
    position: relative;
    
}
.second-text article:nth-child(2n){
    display: flex;
    flex-direction:row-reverse;    
}
.second-text article img{
    width: 26%; 
    position: relative;   
    transition: all 0.5s ease-in-out;
}
.hide-text{
    position: absolute;
    top: 25%;
    left: 10%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: none;
    transition: all 2s ease-in-out;
    transition-duration: 5s;
}
article:nth-child(2n) .hide-text{
    position: absolute;
    top: 25%;
    left: 84%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: none;
    transition: all 2s ease-in-out;
    transition-duration: 5s;
}
.second-text img:hover{
    opacity: 0.5;    
}
.second-text img:hover + .hide-text{
    display: block;    
}
/* 박스 텍스트 부분 */
.card-info{
    /* border: 1px solid gold; */
    padding: 24px;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-info h3{
    font-size: 18px;
    font-weight: 600;    
    padding-bottom: 32px;
}

.card-info ul {
    font-size: 14px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.card-info ul li{
    position: relative;
    font-size: 14px;
    
}
.card-info ul li:not(:first-child){
    margin-top: 20px;
}

.card-info ul li::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #bd8fe8;
}


